.companies_search-block
  = form_tag(account_withdrawals_path) do
    %p Current Account balance is #{@balance}

    .field
      = label_tag 'Enter amount'
      = text_field_tag 'calculation[amount]'
    .field
      = hidden_field_tag 'calculation[account_id]', "#{params['account_id']}"
    .actions
      = submit_tag 'Save'
