%p#notice= notice
%h1
  Hello #{current_user.name}. Thank you for visit Olimpia bank

%h2.move_block List of your account
%table.table
  %thead
    %tr
      %th Balance
      %th Currency
      %th{:colspan => "3"}
  %tbody
    - @accounts.each do |account|
      %tr
        %td= account.balance
        %td= account.currency
        %td= link_to 'Deposit', deposit_user_account_path(current_user,account)
        %td= link_to 'Withdraw', withdraw_user_account_path(current_user,account)
        %td= link_to 'Destroy', user_account_path(current_user,account), method: :delete, data: { confirm: 'Are you sure?' }

.mt-5
= link_to 'New Account', new_user_account_path(current_user)
.mt-3
= link_to 'Transaction History', profile_transactions_path
